@namespace FFXIVRelicTrackerBlazor.Client.Pages._2_ArrStages
@using FFXIVRelicTrackerBlazor.Shared._2_Arr
@page "/Stage8Zeta"
@inherits Stage8ZetaBase


@if (showAll)
{
    <div class="stack-vertical">
        <div class="stack-vertical">
            <h2>A Realm Reborn: Zodiac Zeta</h2>
            <div>@character.Name</div>
            <div class="stack-horizontal">
                <span>Selected Job: </span>
                <select value="@GetActiveJob" @onchange="SetActiveJob">
                    @foreach (var job in JobNames)
                    {
                        <option value="@job">@job</option>
                    }
                </select>
                <button @onclick="()=>CompleteStage()" disabled="@JobNotSelected">Complete</button>
            </div>
            <br />
            <div class="stack-vertical">
                <ul>
                    @if (!GetAnyCompleted())
                    {
                        <li>
                            <span><a href="https://ffxiv.gamerescape.com/wiki/Rise_and_Shine" target="_blank" rel="noopener noreferrer">Quest: Rise and Shine</a> | Started by: Jalzahn (North Shroud)</span>
                        </li>
                        <li>
                            <span>Deliver the <a href="https://ffxiv.gamerescape.com/wiki/Sunshine" target="_blank" rel="noopener noreferrer" class="item-link">Sunshine</a> to Gerolt</span>
                        </li>
                        <li>
                            <span>Speak with Rowena in Mor Dhona, return to Gerolt in North Shroud, then deliver the to <a href="https://ffxiv.gamerescape.com/wiki/Sunshine" target="_blank" rel="noopener noreferrer" class="item-link">Sunshine</a> Remon in Western La Noscea</span>
                        </li>
                    }

                    <li>
                        <span>With your <span class="weapon-purple">@PreviousActiveWeaponName</span> equipped, complete ARR content to gather light to complete the 12 Mahatma</span>
                    </li>
                    <li>
                        <span>Each Mahatma costs 50 Poetics to unlock and are completed in order. Tables summarizing Light Points, content awards, and messages can be found <a href="https://ffxiv.consolegameswiki.com/wiki/Zodiac_Zeta_Weapons/Quest#Mahatma_Points" target="_blank" rel="noopener noreferrer">here</a>, but the grind for Light has been signficantly shortened</span>
                    </li>
                    <li>
                        <span>The key takeaways on gathering Light are that two runs of Sastasha or The Tam-Tara Deepcroft will complete a Mahatma, or completeing Syrcus Tower or World of Darkness will complete a Mahatma</span>
                    </li>
                </ul>
                <br />
                <span>The following controls may be used for tracking progress:</span>
                <button style="@returnDec(GetRamComplete())" @onclick="SetRamComplete" checked="@GetRamComplete()">Mahatma of the Ram</button>
                <button style="@returnDec(GetBullComplete())" @onclick="SetBullComplete" checked="@GetBullComplete()">Mahatma of the Bull</button>
                <button style="@returnDec(GetTwinsComplete())" @onclick="SetTwinsComplete" checked="@GetTwinsComplete()">Mahatma of the Twins</button>
                <button style="@returnDec(GetCrabComplete())" @onclick="SetCrabComplete" checked="@GetCrabComplete()">Mahatma of the Crab</button>
                <button style="@returnDec(GetLionComplete())" @onclick="SetLionComplete" checked="@GetLionComplete()">Mahatma of the Lion</button>
                <button style="@returnDec(GetMaidenComplete())" @onclick="SetMaidenComplete" checked="@GetMaidenComplete()">Mahatma of the Maiden</button>
                <button style="@returnDec(GetScalesComplete())" @onclick="SetScalesComplete" checked="@GetScalesComplete()">Mahatma of the Scales</button>
                <button style="@returnDec(GetScorpionComplete())" @onclick="SetScorpionComplete" checked="@GetScorpionComplete()">Mahatma of the Scorpion</button>
                <button style="@returnDec(GetArcherComplete())" @onclick="SetArcherComplete" checked="@GetArcherComplete()">Mahatma of the Archer</button>
                <button style="@returnDec(GetGoatComplete())" @onclick="SetGoatComplete" checked="@GetGoatComplete()">Mahatma of the Goat</button>
                <button style="@returnDec(GetWaterBearerComplete())" @onclick="SetWaterBearerComplete" checked="@GetWaterBearerComplete()">Mahatma of the Water-bearer</button>
                <button style="@returnDec(GetFishComplete())" @onclick="SetFishComplete" checked="@GetFishComplete()">Mahatma of the Fish</button>
                <br />
                <span>After completing all 12 Mahatma, return to Jalzahn and select the option 'Zodia Weapon Awakening'. Congratulations on completing your Zodiac Zeta Weapon</span>
            </div>

        </div>
    </div>
}
<style>
</style>
@code {

}
