@page "/"
@inherits HomePageBase

<h3>Home Page</h3>

@*test update*@

<div class="stack-vertical">
    <span>This is a tool for tracking relic progression in FFXIV across expansions. This is developed in C# with the Blazor framework</span>
    <span>All progress is saved locally to your device</span>
    <span>To use this tool, rename the default character or create a new one below</span>
    <span>As you mark stages completed or items collected, progress is automatically saved</span>
    <span>To reset progress entirely, you may delete your character from the menu below</span>
    <span>Note: "Remaining" generally indicates the total remaining amount of an item to complete the stage on all remaining jobs</span>
</div>
<br />
<div class="stack-horizontal">
    <span style="color:white; font-weight:bold">Active character: @character.Name</span>
</div>
<div class="stack-horizontal">
    <span>Default Job:</span>
    <select value="@GetDefaultJob" @onchange="SetDefaultJob">
        @foreach(var job in JobNames)
            {
                <option value="@job">@job</option>
            }
    </select>
</div>
<span><input type="checkbox" checked="@GetAutoCompletion" @onchange="SetAutoCompletion"/> Automatically assign completed jobs to next stage</span>
<br />
<h3 @onclick="()=>ShowSelect=!ShowSelect">Character Select</h3>
@if (ShowSelect)
{
    <select class="custom-select" title="Character Select" @bind="@CharacterName">
        @if (CharacterStringList != null)
        {
            @foreach (var character in CharacterStringList)
            {
                <option value="@character">@character</option>
            }
        }
    </select>
}
<br />
<a><h3 @onclick="()=>ShowRename=!ShowRename">Rename Character</h3></a>
@if (ShowRename)
{
    <span>Existing character name: @CharacterName</span>
    <div class="stack-horizontal">
        <span>New name:</span>
        <input type="text" @bind="NewName" />
        <button type="submit" @onclick="()=>ChangeCharacterName(NewName)">Confirm</button>
    </div>
}
<br />
<h3 @onclick="()=>ShowAdd=!ShowAdd">Add Character</h3>
@if (ShowAdd)
{
    <div>New character name:</div>
    <div class="stack-horizontal">
        <input id="name" @bind-value="AddName" />
        <button type="submit" @onclick="()=>CreateCharacter(AddName)">Add Character</button>
    </div>
}
<br />
<h3 @onclick="()=>ShowRemove=!ShowRemove">Remove Character</h3>
@if (ShowRemove)
{
    <span>Note: if deleting all characters, a new character named "Default Character" will be created and saved</span>
    <span>Note: this cannot be undone or data recovered</span>
    <br />
    <div>Select character to remove:</div>
    <select class="custom-select" title="Character Select" @bind="@RemoveName">
        <option value="@string.Empty"></option>
        @foreach (var character in CharacterStringList)
        {
            <option value="@character">@character</option>
        }
    </select>
    <button type="submit" @onclick="()=>RemoveCharacter(RemoveName)">Remove Character</button>
}
<br />
<h3 @onclick="()=>ShowCallAPI=!ShowCallAPI">Get Character Achievements</h3>
@if (ShowCallAPI)
{
<div class="stack-vertical">
    <span>You can use this feature to import your character achievements to autofill completion of relic progress</span>
    <span>Data on character achievements is requested from <a href="https://xivapi.com/docs" target="_blank" rel="noopener noreferrer">XIVAPI</a></span>
    <span>Note: If your account settings for your character's achievements are not set to public, achievements cannot be imported</span>
    <span><span style="visibility:hidden">Note: </span>The following function will request a list of matching characters on the selected server. A maximum of 1,000 results will be returned</span>
    <span><span style="visibility:hidden">Note: </span>If your character is not returned, rename the selected character to more closely resemble your character's in-game name</span>
    <br />
    <div class="stack-horizontal">
        <span>Selected Character:</span>
        <select title="Character Select" @bind="@CharacterName">
            @if (CharacterStringList != null)
            {
                @foreach (var character in CharacterStringList)
                {
                    <option value="@character">@character</option>
                }
            }
        </select>
    </div>

    @if (!ServersLoaded)
    {
        <span>Server:</span>
        <span>Loading servers...</span>
    }
    @if (ServersLoaded)
    {
        <div class="stack-horizontal">
            <span>Server:</span>
            <select value="@GetCharacterServer" @onchange="SetCharacterServer">
                <option value=""></option>
                @foreach (var server in Servers)
                {
                    <option value="@server">@server</option>
                }
            </select>
        </div>

    }
    <br />
    <button type="submit" @onclick="()=>GetCharacterListButton()">Get Matching Characters</button>
    <span>@CharacterListMessage</span>
    @if (CharacterListFetched)
    {
        <div class="stack-horizontal">
            <span>Server Characters:</span>
            <select title="Select Character:" value="@GetCharacterID" @onchange="SetCharacterID">
                <option value="0"></option>
                @foreach (var character in apiCharacters)
                {
                    <option value="@character.ID">
                        @character.Name : @character.Server
                    </option>

                }
            </select>
        </div>


    }
    <br />
    @if (APICharacterSelected)
    {
        <button disabled="@APICharacterNotSelected" @onclick="()=>GetCharacterDataButton()">Fetch achievements</button>
        <span>@CharacterMessage</span>
    }
</div>

}

<style>
    h3 {
        cursor: pointer;
    }
</style>

@code {

}
